<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1>Edit</h1>
<%= link_to  'Home', article_index_path %>
<%= link_to  'About', article_about_path %>
<%= link_to  'New', article_create_path %>
</body>
